<% include partials/header %>

<style>

    .col-sm img {

        margin-bottom: 8px;
    }

</style>
<img src="images/wb.jpg" height="400px" width="1126px">
<br>
<br>

<div class="about">
About Me

</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <font face="verdana" color="black" size="4.9px">I am Rahul Chopra from India. I have been studying Web Designing from two years.I have done  Web-Interface Design, Server- Side Scripting, Client-Side Scripting, Social Media and Analytics, Project Management, Motion graphics for interaction, User Experience/Interaction Design, Web usability/Accessibility. I am familiar with HTML,CSS, JavaScript, ASP.Net and NodeJs. My hobbies are Playing Soccer and cooking.
            <br>
                <font face="verdana" color="black" size="4px"> I always prefer to keep Good Communication and have Time Management skills which will be adaptable to be able to do Team work.</font>
        </div>

        <div class="col-sm">
            <img src="images/aa.png" height="300px" width="450px">
        </div>
    </div>
</div>
<br>
<font face="verdana" color="black" size="5px"><center>My Skills & Abilities</center></font>
<br>
<br>
<font face="verdana" color="black" size="3px">Photoshop</font>
<br>
<p><div class="progress">

    <div class="progress-bar"  style="width: 70%;">70%</div>
</div></p>
<br>
<br>

<font face="verdana" color="black" size="3px">Illustrator</font>
<br>
<p><div class="progress">

    <div class="progress-bar"  style="width: 75%;">75%</div>
</div></p>
<br>
<br>


<font face="verdana" color="black" size="3px">javascript</font>
<br>
<p><div class="progress">

    <div class="progress-bar"  style="width: 60%;">60%</div>
</div></p>
<br>
<br>

<font face="verdana" color="black" size="3px">HTML5 & CSS3</font>
<br>
<p><div class="progress">

    <div class="progress-bar"  style="width: 90%;">85-90%</div>
</div></p>
<br>
<br>

<font face="verdana" color="black" size="3px">WordPress</font>
<br>
<p><div class="progress">

    <div class="progress-bar"  style="width: 75%;">75%</div>
</div></p>
<br>
<br>



<% include partials/footer %>