<% include partials/header %>


<h1>My Location</h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="wrapper">

                <!-- COMPANY INFORMATION -->
                <div class="company-info">
                    <h3>Web Design</h3>

                    <ul>
                        <li><i class="fa fa-road"></i>   364 Duckworth Street</li>

                        <li><i class="fa fa-phone"></i>   (705) -970-9144</li>

                        <li><i class="fa fa-envelope"></i> hrahul@gmail.com</li>

                    </ul>
                    <div class="foot">

                        <p>Designed By Rahul</p>

                    </div>
                </div>
                <!-- End .company-info -->


            </div>
        </div>
        <div class="col-sm">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2850.227439714682!2d-79.67663868514087!3d44.4079784113146!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882aa31310ba2005%3A0x58b88fab95408952!2s364+Duckworth+St%2C+Barrie%2C+ON+L4M+6L7!5e0!3m2!1sen!2sca!4v1533782811256" width="500" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>

        </div>

    </div>
</div>


<% include partials/footer %>