<% include partials/header %>
<style>
    body{
        background-color: white;
        color:black;
    }

    font h4
    {

        margin-left: 40px;

    }

    font p

    {

        margin-left: 40px;


    }

    .col-sm img
    {


       margin-left: 40px;

    }
</style>


<h1 class='WhatIDo'>Rahul Chopra</h1>

<div class="container">
    <div class="row">
        <div class="col-sm">
         <center>
             <img src="images/rahul.jpg" height="350" width="300"></center>
            <br>
            <br>
            <center><a href="/About" class="btn btn-warning">Know More</a></center>
        </div>


    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <font face="'Open Sans', sans-serif;" color="black" size="5px"><h4>Ready To Discuss Your Project ?</h4></font>
            <br>



            <font face="verdana" color="black" size="5px"><p>We analyze web design from a creative and logical perspective. Every website we develop, its fundamental elements and features should not only be stunning it should also have an objective. Have a glance how our results-driven approach to creative and responsive design has modified the brands online.</p></font>
            <br>
            <center><a href="/About" class="btn btn-warning">Work With Us</a></center>
        </div>



        <div class="col-sm">
            <img src="images/design.png" height="370" width="400">
        </div>
    </div>
</div>




<% include partials/footer %>



