
<% include partials/header %>


<h1 class='WhatIDo'>PORTFOLIO</h1>
<br>
<br>
<font face="verdana" color="black" size="8px"><center>Projects</center></font>
<div class="container">

    <div class="item slateblue">
        <img src="/images/smilesonwheels.png">
        <i class="fa fa-camera"><a href="http://www.smilesonwheels.com/">View</a></i>
    </div>

    <div class="item blue">
        <img src="/images/trucking360.png">
        <i class="fa fa-camera"><a href="https://www.trucking360.ca/">View</a></i>
    </div>

    <div class="item green">
        <img src="/images/capital hands.png"/>
        <i class="fa fa-camera"><a href="https://www.capitalhands.com/">View</a></i>
    </div>

    <div class="item red">
        <img src="/images/trans.jpg"/>
        <i class="fa fa-camera"><a href="http://www.transexpert.ca/">View</a></i>
    </div>
</div>

<font face="verdana" color="black" size="8px"><center>DESIGN IS SUPPOSED TO PERFORM</center></font>

<div class="container">
    <div class="item cyan">
        <img src="/images/starlogistics.png">
        <i class="fa fa-camera"><a href="http://www.starlogltd.com/">View</a></i>
    </div>

    <div class="item orange">
        <img src="/images/trans99.png"/>
        <i class="fa fa-camera"><a href="http://www.trans99.net/">View</a></i>

    </div>
<div class="item orangered">
    <img src="/images/transemerge.png">
    <i class="fa fa-camera"><a href="https://www.transemergetransport.com/">View</a></i>

</div>

<div class="item peachpuff">
    <img src="/images/roadlink.png"/>
    <i class="fa fa-camera"><a href="https://www.roadlinkxpress.com/">View</a></i>

</div>
</div>










<% include partials/footer %>