<% include partials/header %>

<h1 class='WhatIDo'>Services</h1>

<center><font face="verdana" color="gray" size="7px">Strategy & Design</font></center>


<div class="container">
    <div class="box box--color">
        <div class="profile"><center><img src="/images/glass.png" height="55" width="80"></center></div>
        <div class="content">
            <font face="verdana" color="black" size="5px">Explore</font>
            <br>
            <font face="verdana" color="black" size="4px">Design Sprints</font>
            <font face="verdana" color="black" size="4px">Product Strategy</font>
            <font face="verdana" color="black" size="4px">UX Strategy</font>
        </div>
    </div>
    <div class="box box--orange">
        <div class="profile"><center><img src="/images/create.png" height="55" width="80"></center></div>
        <div class="content">
            <font face="verdana" color="black" size="5px">Create</font>
            <br>
            <font face="verdana" color="black" size="4px">Information</font>
            <font face="verdana" color="black" size="4px">UX/UI Design</font>
            <font face="verdana" color="black" size="4px">Branding</font>
        </div>
    </div>
    <div class="box box--green">
        <div class="profile"><center><img src="/images/bulb.png" height="55" width="80"></center></div>
        <div class="content">
            <font face="verdana" color="black" size="5px">Learn</font>
            <br>
            <font face="verdana" color="black" size="4px">Prototyping</font>
            <font face="verdana" color="black" size="4px">User Testing</font>
            <font face="verdana" color="black" size="4px">UI Testing</font>
        </div>
    </div>


</div>

<div class="design">
    <h3>"Design Is Thinking Made Visual"</h3>
</div>

<div class="heading">
    <h1>Connecting creativity, technology and commerce to drive brands and business growth.</h1>

    <div class="service">
        <img src="/images/services.png" height="350px" width="1000px">
    </div>
</div>



<% include partials/footer %>